@using MovieSite.Data.Enums

@model MovieSite.ViewModel.MovieVM.DisplayVM
@{
    ViewBag.Title = "USER LIST";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="grid">


    <form action="/Movie/MovieAdmin" method="get">
        <div class="row" style="margin-left:250px">
            <div class="col-4">
                @Html.LabelFor(x=>x.Filter.Title)
            </div>
            <div class="col-4">
                @Html.LabelFor(x=>x.Filter.Description)
                <div class="col-2">
                </div>
            </div>
            <div class="row" style="margin-left:250px">
                <div class="col-4">
                    @Html.TextBoxFor(x=>x.Filter.Title)
                </div>
                <div class="col-4">
                    @Html.TextBoxFor(x=>x.Filter.Description)
                </div>

                <div class="col-2">
                    <input type="submit" value="Filter" />
                    <a href="/Movie/MovieAdmin">Clear</a>
                </div>
            </div>
    </form>






    <div class="row" style="margin-left:250px">
        <div class="col-3">
            <a class="left" href="/Movie/Create">NEW</a>
        </div>
    </div>

    <div class="row" style="margin-left:250px">

        <div class="col-1 textColor">
            Title
        </div>

        <div class="col-1 textColor">
            Description
        </div>
        <div class="col-1 textColor">
            Category
        </div>


        <div class="col-1 textColor">
            Actions
        </div>
        <div class="col-2">
        </div>
    </div>
    @foreach (var item in Model.Movies)
    {
        <div class="row" style="margin-left:250px">
            <div class="col-1">
                @item.Title
            </div>

            <div class="col-1">
                @item.Description
            </div>



            <div class="col-1">
                @item.movieCategory;
            </div>

            <div class="col-2">
                @Html.ActionLink("Edit ", "UpdateUser", new { id=item.Id })|
                @Html.ActionLink("Delete", "DeleteUser", new { id=item.Id }, new{onclick ="return confirm('Do you realy want to delete')"})
            </div>
        </div>
    }
    <div style="margin-left:250px">
        @{
            Html.RenderPartial("/Views/Shared/PagerPartial.cshtml", Model.Pager);
        }
    </div>

</div>